# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyd

# Virtual Environment
.venv/
venv/

# Python Tool Caches
.pytest_cache/
.mypy_cache/

# ==========================
# Environment Variables
# ==========================


# ==========================
# macOS
# ==========================
.DS_Store

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Coverage
# ==========================
.coverage
htmlcov/

# ==========================
# Node
# ==========================
node_modules/

# Build Output
dist/
build/

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Local Database Dumps
# ==========================
*.sql